@font-face {
    font-family: "CompactaBT";
    src: url("../Assets/Font/CompactaBT-Bold.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    src: url("../Assets/Font/Roboto-Regular.woff") format("woff");
}

@font-face {
    font-family: "ubisoft";
    src: url("../Assets/Font/ubisoftsans-regular.woff") format("woff");
}


@font-face {
  font-family: "ubisoft-bold";
  src: url("../Assets/Font/ubisoftsans-bold.woff") format("woff");
}

